@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

/* মার্কি স্ক্রলিং অ্যানিমেশন */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  white-space: nowrap;
  animation: marquee 90s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}